body/*设置背景*/
{
    background-image : url("ogas.png");
    background-size: 100%;
}
@font-face 
{
   font-family: "SimSun";
   src: url("Fonts/simsun.fft");
}
@font-face
{
    font-family: "KaiTi"
    src: url("Fonts/kaiti.fft");
    font-style: italic;
}
@font-face
{
    font-family: "Times New Roman";
    src: url("Fonts/times.fft");
}
@font-face
{
    font-family: "Times New Roman I";
    src: url("Fonts/timesi.fft");
    font-style: italic;
}
@font-face
{
    font-family: "Times New Roman B";
    src: url("Fonts/timesbd.fft");
    font-weight: bold;
}
@font-face
{
    font-family: "Times New Roman BI";
    src: url("Fonts/timesbi.fft");
    font-weight: bold;
    font-style: italic;
}

/*对齐方式*/
.align_L {text-align : left;}
.align_R {text-align : right;}
.align_C {text-align : center;}

.Dft_block/*默认块样式*/
{
    text-align : left;
    background-color : rgba(255,255,249,1);/*背景色*/
    border : 3px solid red;/*边框：3像素 实线 红色*/
    border-radius : 4px;/*圆角：4像素*/
    margin : 15px 30px 15px 30px;/*边外距*/
    padding : 25px 10px 25px 10px;/*边内距*/
}
article div
{
    text-align : left;
    background-color : rgba(255,255,249,1);/*背景色*/
    border : 3px solid red;/*边框：3像素 实线 红色*/
    border-radius : 4px;/*圆角：4像素*/
    margin : 15px 30px 15px 30px;/*边外距*/
    padding : 25px 10px 25px 10px;/*边内距*/
}
article div h1;
{   
    text-align : center;/*居中*/
    line-height : 1.15;/*行高*/
    font-family : "Times New Roman","SimSun",serif;/*字体族*/
    font-size : 2em;
    font-weight : bold;/*粗体*/
}
article div h2
{
    text-align : center;/*居中*/
    line-height : 1.15;/*行高*/
    font-family : "Times New Roman","SimSun",serif;/*字体族*/
    font-size : 1.6em;
    font-weight : bold;/*粗体*/
}
article div h3
{   
    text-align : center;/*居中*/
    line-height : 1.15;/*行高*/
    font-family : "Times New Roman","SimSun",serif;/*字体族*/
    font-size: 1.5em;
    font-weight : bold;/*粗体*/
}
article div h4
{
    text-align : center;/*居中*/
    line-height : 1.15;/*行高*/
    font-family : "Times New Roman","SimSun",serif;/*字体族*/
    font-size: 1.25em;
    font-weight : bold;/*粗体*/
}
article div h5
{
    text-align : center;/*居中*/
    line-height : 1.15;/*行高*/
    font-family : "Times New Roman","SimSun",serif;/*字体族*/
    font-size: 1.2em;
    font-weight : bold;/*粗体*/
}
article div h6
{
    text-align : center;/*居中*/
    line-height : 1.15;/*行高*/
    font-family : "Times New Roman","SimSun",serif;/*字体族*/
    font-size: 1em;
    font-weight : bold;/*粗体*/
}
.innertitle/*行内标题*/
{
    text-align : center;
    line-height : 1.15;/*行高*/
    font-family : "Times New Roman","SimSun",serif;/*字体族*/
    font-size: 1.5em;
    font-weight : bold;/*粗体*/
}

article div q,blockquote
{
    font-family : "Times New Roman","KaiTi"，italic;/*字体族*/
    padding : 25px 10px 25px 10px;/*边内距*/
    text-indent : 2em;/*首行缩进*/  line-height : 1.15;/*行高*/
}

article div p
{
    text-align : left;
    text-indent : 2em;/*首行缩进*/  line-height : 1.15;/*行高*/
    font-family : "Times New Roman","SimSun",serif;/*字体族*/
    font-size : 1em;
}
.text
{
    text-align : left;
    text-indent : 2em;/*首行缩进*/  line-height : 1.15;/*行高*/
    font-family : "Times New Roman","SimSun",serif;/*字体族*/
    font-size :1em;
}